{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock title %}</title>

    <link href="{% static 'private_area/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'private_area/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
</head>

<body id="page-top">


    <div id="wrapper">
        {% include 'private_area/components/sidebar.html' %}
        <div id="content-wrapper" class="d-flex flex-column">
              <div id="content">
                {% include 'private_area/components/topbar.html' %}
                {% include 'components/messages.html' %}
                {% block content %}
                {% endblock %}
              </div>
            {% include 'private_area/components/footer.html' %}
        </div>
    </div>
    {% include 'private_area/components/button_to_top.html' %}
    {% include 'private_area/components/logout.html' %}

    <script src="{% static 'private_area/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'private_area/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'private_area/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'private_area/js/sb-admin-2.js' %}"></script>

    <!--    DataTables Imports -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <SCRIPT>
    $(document).ready(function() {
        $('table').DataTable();
    });
    </SCRIPT>

</body>

</html>