{% extends 'private_area/base.html' %}


{% block title %}
    {{ user.username }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class=" card ">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ temp_image_tool }}
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary" type="submit">
                    {% if user.is_admin  %}
                        Update Or Create
                    {% else %}
                        Update
                    {% endif %}
                </button>
            </div>
        </form>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row align-self-center">
        <div class="col">
            <div class="card">

                <div class="card-header card-header-info card-header-icon">

                    <h3 class="card-title">
                        {% if user.is_admin %}
                            Latest Tools Activity </h3>
                        {% else %}
                            Latest Tools Received
                        {% endif %}
                    </div>

                <div class="card-body table-responsive">
                    <table class="table table-hover" id="StandardTable">
                        <thead class="text-danger">
                            <td>#</td>
                            <td>Type</td>
                            <td>quantity</td>
                            <td>Current User</td>
                            <td>Current Location</td>
                            <td>Last Update</td>
                        </thead>
                        <tbody>
                            {% for i in object_list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{i.type}}</td>
                                    <td>{{i.quantity}}</td>
                                    <td>{{i.current_user}}</td>
                                    <td>{{i.current_location}}</td>
                                    <td>{{i.date_updated}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}