{% extends 'tools/create_or_update_tool/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Tools - {{ user.first_name }}
{% endblock %}

{% block content %}
<div style="padding:10px">


    <div class="container">

    <div class="h-100 p-5 bg-light border rounded-3">

        {% if form.code is None %}
            <h4> Add New Tool </h4>
            <h6>Code Read {{code}} Please Confirm.</h6>
        {% else %}
            <h4> Add New Tool </h4>
            <h6>We could Read the image please add the Code Manually</h6>
        {% endif %}

        <form method="post">
        {% csrf_token %}

        {{form|crispy}}

        <br>
        <div class="row">
            <div class="col">
                 <input type="submit" value="Summit" class="btn btn-success">
            </div>
            <div>
                <br>
            </div>
             <div class="col">
                 <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-warning" href="{% url 'tools:create_type' %}">Add New Types</a>
                    <a class="btn btn-warning" href="{% url 'tools:list_type' %}">All Items</a>
                 </div>
             </div>
        </div>



    </form>
    </div>

</div>



</div>

{% endblock %}