{% extends 'tools/create_or_update_tool/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Tools - {{ user.first_name }}
{% endblock %}

{% block content %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        <input type="file" accept="image/*;capture=camera">
        {{ form|crispy }}

        <input type="submit" value="Add" class="btn btn-success">
        <a class="btn btn-success" href="{% url 'tools:create_type' %}">Add New Types</a>
    </form>



</div>

{% endblock %}